<h1 mat-dialog-title>Add classroom</h1>
<div mat-dialog-content>
  <p>Number</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.classRoomNumber">
  </mat-form-field>
  <p>Count of places</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.placeCount">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click) = "addNewClassroom(data)">Ok</button>
</div>
