<h1 mat-dialog-title>Add pair</h1>
<div mat-dialog-content>
  <p>Group</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.group">
  </mat-form-field>
  <p>Subject</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.subject">
  </mat-form-field>
  <p>Classroom</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.classroom">
  </mat-form-field>
  <p>Start Date</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.startDate">
  </mat-form-field>
  <p>Number of weeks</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.weekCount">
  </mat-form-field>
  <p>Teacher</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.teacher">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click) = "addPairRequest(data)">Ok</button>
</div>
