
<app-layout></app-layout>
<router-outlet></router-outlet>
<button value="Next" id="Next" (click)="nextWeek()">Next Week</button>
<button value="Prev" id="Prev" (click)="prevWeek()">Previous Week</button>
<button (click) = "addPair()">Add pair</button>
<button (click) = "addClassRoom()">Add classroom</button>
<div>{{getCurrentWeek()}}</div>
<div class="mat-elevation-z8" >
<table mat-table #table [dataSource]="timePairs" >
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef style = "text-align: center"> Day </th>
    <td mat-cell  *matCellDef="let element;let i = index" [attr.rowspan]="getRowSpan('day',i)" [style.display]="getRowSpan('day', i) ? '' : 'none'" class="day" style = "text-align: center"> {{element.day}} </td>
  </ng-container>
  <ng-container matColumnDef="Time">
    <th mat-header-cell *matHeaderCellDef style = "text-align: center"> Time </th>
    <td mat-cell *matCellDef="let element" class="time" style = "text-align: center">{{element.time}} </td>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of classrooms">
    <th mat-header-cell *matHeaderCellDef style = "text-align: center"> <div>{{"Classroom №" + column}}</div><div>{{getClassRoomPlaces(column)+" places"}}</div> </th>
    <td mat-cell *matCellDef="let element; "  class="pair">
      <div *ngFor = "let pair of element.pairs">
        <div  *ngIf="testcheck(column, pair.classRoom.number.toString());" style = "text-align: center">
          <div>
            Subject: {{pair.subject.name}}
          </div>
          <div>
            Teacher: {{pair.teacher.name}}
          </div>
          <div>
            Group number: {{pair.group.groupNumber}}
          </div>
          <div>
            {{pair.group.studentCount}} students
          </div>
          <div *ngIf = "isEndingSoon(pair.endsIn)">
            Ends in {{pair.endsIn}} weeks
          </div>
        </div>
        </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay.slice()" style = "text-align: center"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay.slice(); " style = "text-align: center"></tr>
</table>
</div>
