.pair{
  width: 200px;
}
.time{
  width: 100px;
}
.day{
  width: 100px;
}
td.mat-cell {
  /* row padding */
  padding: 16px 0 16px 0;
  /* row border */
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

